html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin-left: 20; }
  
  body {
    background-image: url("images/istockphoto-509481640-170667a.jpg");
    perspective: 1000px;
    color: #ffffcc; } 
  
  #pointRollButton {
    display: none; }
  
  #winOrLoss {
    text-align: center; }
  #theRoll{
    margin-left: 50px;
  }  
  #crapWins, #crapLosses{
    margin-left: 70px;
  }
  
  /* MODAL THINGS*/
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(170, 133, 57, 0.7);
    z-index: 9998;
    color: #ffffcc; }
  
  .modal-overlay,
  .modal {
    visibility:hidden;
    opacity: 0; }
  
  /* HEADER */
  header {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; }
    header h1 {
      font-family: 'Lobster', cursive;
      font-size: 72px;
      background: -webkit-linear-gradient(rgb(238, 61, 61), rgb(209, 192, 40));
      -webkit-background-clip: text;
      -webkit-text-fill-color:red;
      -webkit-text-stroke-width: .05px;
      -webkit-text-stroke-color: rgb(247, 241, 241);
      text-shadow: 4px 4px #2e2626;
      float: left; 
      margin: 0;
    }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
  nav li {
    float: right;
    margin: 15px;
    padding: 10px 50px;
    background: #aa4f39;
    border-radius: 8px;
    box-shadow: 0 3px #999;
    transition: .3s;
    text-transform: uppercase; }
  
  nav li:hover {
    background: #999;
    cursor: pointer;
    margin-top: 16px;
    padding: 11px 50px 9px 50px; }
  
  /* BUTTONS */
  .roll-button {
    margin-bottom: 10px;
    margin: 15px auto; }
  
  button {
    padding: 10px 50px;
    color: #ffffcc;
    background: #AA4F39;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px #802915;
    outline: none;
    transition: .3s; }
  
  button:hover, button:active {
    outline: none;
    background: #802915;
    cursor: pointer;
    padding: 11px 50px 9px 50px;
    margin-top: 15px; }
  
  .dice-board {
    text-align: center;
    width: 100%;
    height: 50%; }
  
  /*########## DICE THINGS ###########*/
  .container-dice {
    display:inline-block;
    margin-top: 55px;
    width: 300px;
    margin: 50px auto 0 auto; }
  
  .dice {
    position:absolute;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* text-align: center; */
  }
  
  .divot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -20px 0 0 -20px;
    border-radius: 20px;
    background: rgb(241, 238, 238);
    border-style: groove;
    border-color: #999;
   }
  
  .dice-one {
    margin-left: 100px; }
  
  .dice-two {
    margin-left: 100px; }
  
  .side {
    background-color: rgba(211, 24, 18, 0.993);
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid black; 
    border-radius: 20px; 
    background: linear-gradient(-100deg, #cee40b,#b41c08, #05790f,  #083d9e);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  .side:nth-child(1) {
    transform: translateZ(50px); }
  
  .side:nth-child(6) {
    transform: rotateY(180deg) translateZ(50px); }
  
  .side:nth-child(3) {
    transform: rotateY(90deg) translateZ(50px); }
  
  .side:nth-child(4) {
    transform: rotateY(-90deg) translateZ(50px); }
  
  .side:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px); }
  
  .side:nth-child(2) {
    transform: rotateX(-90deg) translateZ(50px); }
  
  .show-1 {
    transform: rotateX(720deg) rotateZ(-720deg); }
  
  .show-6 {
    transform: rotateX(-900deg) rotateZ(1080deg); }
  
  .show-3 {
    transform: rotateY(-450deg) rotateZ(-1440deg); }
  
  .show-4 {
    transform: rotateY(810deg) rotateZ(720deg); }
  
  .show-5 {
    transform: rotateX(-810deg) rotateZ(-1080deg); }
  
  .show-2 {
    transform: rotateX(450deg) rotateZ(-720deg); }
  
  /* Dice Dots */
  .two-1, .three-1, .four-1, .five-1, .six-1 {
    top: 30%;
    left: 30%; }
  
  .four-3, .five-3, .six-4 {
    top: 30%;
    left: 90%; }
  
  .one-1, .three-2, .five-5 {
    top: 60%;
    left: 60%; }
  
  .four-2, .five-2, .six-3 {
    top: 90%;
    left: 30%; }
  
  .two-2, .three-3, .four-4, .five-4, .six-6 {
    top: 90%;
    left: 90%; }
  
  .six-2 {
    top: 60%;
    left: 30%; }
  
  .six-5 {
    top: 60%;
    left: 90%; }
  
  /* CLEARFIX */
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }
  