body {
    background-color: darkgreen;
    background-image: url(images/felt.png);
}
#table {
    display: grid;
    grid-template-columns: 200px 200px 200px 300px 200px 200px 200px;
    grid-template-rows: 80px 130px 130px 130px 80px;
    margin: 2rem auto;
    width: 1500px;
}
#dealer-cards {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}
#seat4-cards { /* Player's seat */
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}
#seat1-cards {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 8;
}
#seat2-cards {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
}
#seat3-cards {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}
#seat5-cards {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}
#seat6-cards {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
#seat7-cards {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.seat {
    /* border: 2px solid black; */
    display: inline;
    text-align: center;
    color: white;
    font-variant: small-caps;
}
.card {
    width: 125px;
}
.other-player .card {
    width: 75px;
}