body {
	font-family:verdana,arial;
	padding:20px;
}
.bd {
	text-align:center;
}
.container {
	margin:0 auto;
	width:404px;
}
.slot-wrapper {
	 border: 1px solid #000000;
}
.slot {
	background:url("images/reel_normal.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
	width:86px;
	height:70px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}
#main_bg
{
	background:url("./images/logoRed.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
	width:86px;
	height:70px;
	float:left;
	border:1px solid #000;
	background-position:0 4px;
}
.motion {
	background:url("images/reel_blur.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
}
button {
	display:block;
	width:138px;
	height:33px;
	margin:20px 60px;
	font-size:16px;
	cursor:pointer;
}
#result {
	margin:20px 0;
	font-size:18px;
	font-weight:bold;
	height:22px;
}
.credits {
	font-size:15px;
	margin-top:20px;
}
.credits .browsers {
	font-style:italic;
	font-size:14px;
	color:#777;
	margin-top:4px;
}
.clear {
	clear:both;
}
.header {
	position: relative;
	z-index: 100;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	min-width: 640px;
	height: 50px;
	background-color: #dedede;
  }
  .content {
	position: relative;
	left: 0;
	right: 0;
	overflow: hidden;
	text-align: center;
	background-color: lightblue;
	margin-bottom: 50px;
	min-width: 1240px;
	
	max-width: 2000px;
	/*480 - header & footer*/
  }
  .video {
	height: 100% !important;
	width: auto !important;
	max-width: 100% !important;
  }
  



/*https://coder-coder.com/background-image-opacity/#:~:text=There's%20no%20CSS%20property%20that,for%20the%20background%2Dimage%20property*/
.hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('./images/logoRed.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

#text_cont {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
/* #account{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(170, 133, 57, 0.7);
		z-index: 9998;
		color: #ffffcc; 
		background-image: url("../images/image.png");
		background-repeat: no-repeat;
		align-items: center;
} */
